.wrapper {
  font-size: large;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;

}

.navbar {
  font-size: larger;
  background-color: black;
  padding: 10px 15px;
  align-self: center;
}

.navbar a:hover {
  color: pink;
}

.navbar a:active {
  color: green;
}

.link {
  text-decoration: none;
  color: white;
  margin: 10px 5px 10px;
}

.login {
  display: flex;
  float: right;
  color: white;
  text-decoration: none;
}